* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  font-family: 'Excon';
}

header {
  height: 72px;
  background-color: #fff;
  padding: 0 36px;
  display: flex;
}

a {
  text-decoration: none;
  transition: 0.5s;
}

a:hover {
  opacity: 0.5;
}

.logo {
  font-family: 'Excon';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: -0.015em;
  font-feature-settings: 'ss03' on;
  color: #2e253c;
  text-decoration: none;
}

header .left {
  display: flex;
  gap: 32px;
  align-items: center;
}

header nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.signin {
  height: 75vh;
}

footer {
  height: 72px;
  padding: 0 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  bottom: 0;
  left: 0;
}

.bold {
  font-weight: 700;
}

header nav ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

header nav ul li a {
  text-decoration: none;
  color: #1d152c;
}

.column-gap-16 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.column-gap-12 {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.mt-4 {
  margin-top: 4px;
}

.mt-16 {
  margin-top: 16px;
}

.activityPostsTitle {
  font-family: 'Excon';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  margin-top: 52px;
  margin-bottom: 12px;
}

hr {
  background: #c4c4c4;
  margin-bottom: 24px;
  height: 0.5px;
}

.hero-title {
  font-size: 48px;
  font-family: 'Excon';
  font-style: normal;
  font-weight: 900;
  line-height: 58px;
  letter-spacing: -0.015em;
  color: #000000;
}
.hero-left {
  padding: 0 32px;
}

.hero-image {
  width: 750px;
  height: 718px;
  object-fit: cover;
}

label {
  font-family: 'Excon';
  font-style: normal;
  font-weight: 900;
  font-size: 10px;
  line-height: 14px;
  color: #000000;
  text-transform: uppercase;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* =============PROFIILE PAGE============ */
.h-100 {
  height: 590px;
}

.profiles {
  height: 300px;
  width: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  margin: 48px auto;
  padding: 24px;
}

.profiles td {
  padding: 16px;
}

.signoutButton {
  padding: 8px 16px;
  background: #ff2306;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-family: 'Excon', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  color: #f0e4e3;
}

.mt-100 {
  margin-top: 100px;
}

.alert {
  width: 621px;
  height: 55px;
  margin: 0 auto;
  padding: 20px 32px;
  font-family: 'Excon';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 17px;
  color: #878787;
  background: #ffffff;
  border-radius: 10px;
}

/* LEADEBOARD */
.table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}
.table th {
  border: 0.5px solid #d2d2d2;
}
.table td {
  border: 0.5px solid #d2d2d2;
}
.table th,
td {
  padding: 12px 16px;
}

.table thead {
  background-color: #d2d2d2;
}
.table th {
  text-transform: uppercase;
}
.table tr:nth-child(even) {
  background-color: #dddddd;
}

.leaderboardPage {
  height: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  gap: 64px;
}

.card-skeleton {
  width: 329px;
  height: 347px;
  background: #5a5a5a;
  border-radius: 10px;
}

/* FORM ACTIVITY */
form {
  display: flex;
  max-width: 906px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.backdrop {
  background: rgba(47, 93, 98, 0.5);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

form .form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 68px 114px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  align-items: center;
}

.form-wrapper h1 {
  font-family: 'Excon';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  color: #000000;
}

.form-wrapper p {
  font-family: 'Excon';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #000000;
}

.form-wrapper caption {
  font-family: 'Excon';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;

  color: #878787;
}

.dropzone {
  width: 678px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.storyzone {
  width: 678px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.dropzone input {
  background: #f5f5f5;
  border: 1px dashed #878787;
  box-sizing: border-box;
  border-radius: 10px;
  width: 678px;
  height: 120px;
  padding: 8px 18px 8px 16px;
}

.storyzone input {
  background: #f5f5f5;
  border-radius: 10px;
  outline: none;
  padding: 8px 18px 8px 16px;
  width: 678px;
  height: 80px;
  border: none;
}
